@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Temporary styles                                                       */
/*-------------------------------------------------------------------------------------------------------------------------*/

.my-container {
    border: 2px solid blue;
}

.my-row {
    border: 2px solid red;
}

.my-col {
    border: 2px solid green;
}

.my-section {
    margin-top: 500px;
    border: 2px dotted black;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  General styles                                                         */
/*-------------------------------------------------------------------------------------------------------------------------*/

.uppercase {
    text-transform: uppercase;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Navigation bar Styles                                                  */
/*-------------------------------------------------------------------------------------------------------------------------*/

#sticky-navigation-bar {
    background-color: #000;

    top: 0;
    position: sticky;
}

.navigation-link-text {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

.navigation-link-text:hover {
    color: #fca311;
}

#header-gym-logo {
    height: 65px;
    width: 65px;

    margin: 5px 0 5px;
}

#header-gym-logo:hover {
    border: 2px solid #fca311;
    border-radius: 50%;
}

#navigation-links ul {
    margin: 0;
}

#navigation-links li {
    margin: 0 25px 0;
}

#header-login-button {
    box-shadow: none;

    background-color: #000000;
    border: 2px solid #fca311;
    padding: 3px 35px 3px;
}

#header-login-button:hover {
   color: #000;
   background-color: #fca311;
}

@media (min-width: 768px) and (max-width: 1075.98px) {
    .navigation-link-text {
        font-size: 20px;
        letter-spacing: 0;
    }
    
    #navigation-links li {
        margin: 0 10px 0;
    }
}

@media (min-width: 768px) and (max-width: 1119.98px) {
    #header-login-button {
        padding: 3px 15px 3px;
    }
}

        /*---------------------------------------------- Burger menu -----------------------------------------------*/

#burger-menu-icon {
    color: #fca311;
    font-size: 32px;

    box-shadow: none;
    background-color: transparent;

    border: none;
}

#burger-menu-icon:hover, #burger-menu-icon:focus {
    color: #000;
    background-color: #fca311;
}

#burger-menu-items-box {
    background-color: #000000;
    border: 2px solid #fca311;
    border-radius: 5px;
}

.burger-menu-text {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#burger-menu-items-box a:hover {
    background-color: #fca311;
    color: #000000;    
}

#burger-menu-items-box i {
    margin-right: 10px;
}

#burger-login {
    border-top: 2px solid #fca311;
    border-width: 85%;
    text-align: center;
    padding-top: 5px;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Footer styles                                                          */
/*-------------------------------------------------------------------------------------------------------------------------*/

footer {
    background-color: #000;
}

#footer-gym-logo {
    height: 100px;
    width: 100px;
    margin: 5px 0 5px;
}

#footer-gym-logo:hover {
    border: 2px solid #fca311;
    border-radius: 50%;
}

.social-link {
    color: #fca311;
    font-size: 32px;

    margin: 5px 3px 5px;
}

.social-link:hover {
    color: #000;

    background-color: #fca311;

    border: 1px solid #fca311;
    border-radius: 5px;
}

#footer-contacts {
    width: 100%;
    border-width: 75%;
}

#footer-contacts:hover {
    border: 2px solid #fca311;
    border-radius: 5px;
}

#footer-contacts-button {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3px;

    background-color: transparent;
    
    box-shadow: none;
    border: none;
}

#footer-contacts-button:hover {
    box-shadow: none;
    border: none;
}

#footer-contacts .dropdown-menu {
    background-color: #000000;

    width: 100%;

    border: 2px solid #fca311;
    border-radius: 5px;
}

#footer-contacts .dropdown-item {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

#footer-contacts .dropdown-item:hover {
    color: #000;
    background-color: #fca311;
}

.footer-subscribe-form {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

#footer-subscribe-imput {
    height: 30px;
    border: 2px solid #fca311;
    border-radius: 5px;
    background: #000000;
    width: 95%;
}

#footer-subscribe-buttom {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #fca311;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-top: 15px;
    height: 30px;
}

#footer-subscribe-buttom:hover {
    color: #fca311;
    background-color: #000000;
    border-color: #fca311;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Hero image                                                              */
/*-------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
    /* Images id from [https://www.pexels.com/photo/bodybuilding-close-up-dumbbells-equipment-260352/ on 2021-05-11
    autor Pixabay] */
    #hero-image {
        height: 640px;
        width: 100%;
        background-image: url("../images/hero-image_pexels-estudio-polaroid-3112004.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

#cover-text {
    width: 225px;
    height: 225px;
    bottom: 15px;
    right: 15px;
    position: absolute;
}

#cover-text h1 {
    font-size: 300%;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    letter-spacing: 4px;
    font-weight: 900;
}

@media (max-width: 767.98px) {
    /* Images if from [https://www.pexels.com/photo/bodybuilding-close-up-dumbbells-equipment-260352/ on 2021-05-11
autor Pixabay] */
    #hero-image {
        height: 640px;
        width: 100%;
        background-image: url("../images/hero-image-small_pexels-pixabay-260352.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    #cover-text {
        width: 150px;
        height: 150px;
        bottom: 10;
        right: 15px;
    }
    
    #cover-text h1 {
        font-size: 200%;
    }
}

@media (max-height: 360px) {
    
    #cover-text {
        width: 150px;
        height: 150px;
        bottom: 10;
        right: 15px;
    }

    #cover-text h1 {
        font-size: 200%;
    }
}