@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Temporary styles                                                       */
/*-------------------------------------------------------------------------------------------------------------------------*/

.my-container {
    border: 2px solid blue;
}

.my-row {
    border: 2px solid red;
}

.my-col {
    border: 2px solid green;
}

.my-section {
    margin-top: 500px;
    border: 2px dotted black;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  General styles                                                         */
/*-------------------------------------------------------------------------------------------------------------------------*/

/*  Images copied from [https://www.pexels.com/photo/blur-chains-chrome-close-up-220237/]
    on 2021-05-11
    Author: Pixabay */
body {
    background-image: url('../images/background-02_pexels-pixabay-220237.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

.uppercase {
    text-transform: uppercase;
}

h5 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Navigation bar Styles                                                  */
/*-------------------------------------------------------------------------------------------------------------------------*/

#sticky-navigation-bar {
    background-color: #000;
}

.navigation-link-text {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

.navigation-link-text:hover {
    color: #fca311;
}

#header-gym-logo {
    height: 65px;
    width: 65px;

    margin: 5px 0 5px;
}

#header-gym-logo:hover {
    border: 2px solid #fca311;
    border-radius: 50%;
}

#navigation-links ul {
    margin: 0;
}

#navigation-links li {
    margin: 0 25px 0;
}

#header-login-button {
    box-shadow: none;

    background-color: #000000;
    border: 2px solid #fca311;
    padding: 3px 35px 3px;
}

#header-login-button:hover {
   color: #000;
   background-color: #fca311;
}

@media (min-width: 768px) and (max-width: 1075.98px) {
    .navigation-link-text {
        font-size: 20px;
        letter-spacing: 0;
    }
    
    #navigation-links li {
        margin: 0 10px 0;
    }
}

@media (min-width: 768px) and (max-width: 1119.98px) {
    #header-login-button {
        padding: 3px 15px 3px;
    }
}

        /*---------------------------------------------- Burger menu -----------------------------------------------*/

#burger-menu-icon {
    color: #fca311;
    font-size: 32px;

    box-shadow: none;
    background-color: transparent;

    border: none;
}

#burger-menu-icon:hover, #burger-menu-icon:focus {
    color: #000;
    background-color: #fca311;
}

#burger-menu-items-box {
    background-color: #000000;
    border: 2px solid #fca311;
    border-radius: 5px;
}

.burger-menu-text {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#burger-menu-items-box a:hover {
    background-color: #fca311;
    color: #000000;    
}

#burger-menu-items-box i {
    margin-right: 10px;
}

#burger-login {
    border-top: 2px solid #fca311;
    border-width: 85%;
    text-align: center;
    padding-top: 5px;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Footer styles                                                          */
/*-------------------------------------------------------------------------------------------------------------------------*/

footer {
    background-color: #000;
}

#footer-gym-logo {
    height: 100px;
    width: 100px;
    margin: 5px 0 5px;
}

#footer-gym-logo:hover {
    border: 2px solid #fca311;
    border-radius: 50%;
}

.social-link {
    color: #fca311;
    font-size: 32px;

    margin: 5px 3px 5px;
}

.social-link:hover {
    color: #000;

    background-color: #fca311;

    border: 1px solid #fca311;
    border-radius: 5px;
}

#footer-contacts {
    width: 100%;
    border-width: 75%;
}

#footer-contacts:hover {
    border: 2px solid #fca311;
    border-radius: 5px;
}

#footer-contacts-button {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3px;

    background-color: transparent;
    
    box-shadow: none;
    border: none;
}

#footer-contacts-button:hover {
    box-shadow: none;
    border: none;
}

#footer-contacts .dropdown-menu {
    background-color: #000000;

    width: 100%;

    border: 2px solid #fca311;
    border-radius: 5px;
}

#footer-contacts .dropdown-item {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

#footer-contacts .dropdown-item:hover {
    color: #000;
    background-color: #fca311;
}

.footer-subscribe-form {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

#footer-subscribe-imput {
    height: 30px;
    border: 2px solid #fca311;
    border-radius: 5px;
    background: #000000;
    width: 95%;
}

#footer-subscribe-buttom {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #fca311;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-top: 15px;
    height: 30px;
}

#footer-subscribe-buttom:hover {
    color: #fca311;
    background-color: #000000;
    border-color: #fca311;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Hero image                                                              */
/*-------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
    /*  Images id from [https://www.pexels.com/photo/bodybuilding-close-up-dumbbells-equipment-260352/ 
        on 2021-05-11
        Autor: Estudio Polaroid] */
    #hero-image {
        height: 640px;
        width: 100%;
        background-image: url("../images/hero-image_pexels-estudio-polaroid-3112004.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

#cover-text {
    width: 225px;
    height: 225px;
    bottom: 15px;
    right: 15px;
    position: absolute;
}

#cover-text h1 {
    font-size: 300%;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    letter-spacing: 4px;
    font-weight: 900;
}

@media (max-width: 767.98px) {
    /* Images if from [https://www.pexels.com/photo/bodybuilding-close-up-dumbbells-equipment-260352/ on 2021-05-11
autor Pixabay] */
    #hero-image {
        height: 640px;
        width: 100%;
        background-image: url("../images/hero-image-small_pexels-pixabay-260352.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    #cover-text {
        width: 150px;
        height: 150px;
        bottom: 10;
        right: 15px;
    }
    
    #cover-text h1 {
        font-size: 200%;
    }
}

@media (max-height: 360px) {
    
    #cover-text {
        width: 150px;
        height: 150px;
        bottom: 10;
        right: 15px;
    }

    #cover-text h1 {
        font-size: 200%;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Home feuter section                                                     */
/*-------------------------------------------------------------------------------------------------------------------------*/

#home-feuter-section {
    margin: 40px 0 20px;
}

#home-feuter-container {
    margin: auto;
    width: 95%;
}

.feuter-title-cover-text {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 26px;
    font-weight: 600;

    margin: 27px 10px 0;
}

.feuter-cover-text {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

    margin: 0 10px 0;
}

.line-cover-seperation {
    border-top: 3px solid #fff;
    padding-top: 5px;
}

.feuter-title-text {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 26px;
    font-weight: 600;

    margin: 0 10px 0;
}

.feuter-text {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

    margin: 35px 10px 0;
}

.feuter-cover-col {
    height: 250px;
    margin: 5px 0 5px;
    padding: 0;

    border: 3px solid #f39c6b;
    border-radius: 5px;

    background-color: #000;
}

.feuter-col {
    height: 250px;
    margin: 5px 0 5px;
    padding: 0;

    border: 3px solid #000;
    border-radius: 5px;

    background-color: #f39c6b;
}

.line-seperation {
    border-top: 3px solid #000;
    padding-top: 5px;
}

        /*---------------------------------------------- Home feuter carusel -----------------------------------------------*/

@media (min-width: 0px) and (max-width: 991.98px) {
    .feuter-cover-col {
        height: 350px;
    }

    .feuter-col {
        height: 350px;
    }

    .feuter-text {
        font-size: 20px;   
        margin: 63px 10px 0;
    }
}

#home-feuter-carusel {
    margin: auto;
    width: 95%;
    height: 350px;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Pricing| Membership plans                                               */
/*-------------------------------------------------------------------------------------------------------------------------*/

#membership-plans {
    margin: 40px 0 20px;
}

.membership-card {
    width: 95%;
    margin: 10px 0 10px;

    border: 5px solid #000;
    border-radius: 5px;
}

.membership-card img {
   padding: 2px;
}

.membership-card, .membership-card li {
    background-color: #f39c6b;
}

.membership-card ul, .membership-card .card-footer {
    border: 2px solid #000;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .membership-card {
        width: 75%;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Prinign| Group training                                                 */
/*-------------------------------------------------------------------------------------------------------------------------*/

#membership-section {
    margin: 40px 0 20px;
}

#group-training-section {
    margin: 40px 0 20px;
}

#group-training-container {
    margin: auto;
    width: 95%;
}

#group-trainig-container .feuter-title-text, 
#group-trainig-container .feuter-text,
#group-trainig-container .line-seperation,
#home-feuter-carusel .feuter-title-text,
#home-feuter-carusel .feuter-text {
    color: #fff;
    border-color: #fff;
}

#group-trainig-container .feuter-col,
#home-feuter-carusel .feuter-col {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#group-1 {
    /*  Image copiet from [https://www.pexels.com/photo/active-adult-biceps-body-416809/] 
        on 2021-05-12
        author: Pixabay */
    background-image: url("../images/group-1_basic_strenght_pexels-pixabay-416809.jpg");
}

#group-2 {
    /*  Image copiet from [https://www.pexels.com/photo/man-doing-boxing-163403/] 
        on 2021-05-12
        author: Pixabay */
    background-image: url("../images/group-2_boxing_pexels-pixabay-163403.jpg");
}

#group-3 {
    /*  Image copiet from [https://www.pexels.com/photo/person-in-black-activewear-using-a-stationary-bicycle-7690217/] 
        on 2021-05-12
        author: Cottonbro */
    background-image: url("../images/group-3_Bycickle_pexels-cottonbro-7690217.jpg");
}

#group-4 {
    /* Image copiet from [https://www.pexels.com/photo/man-people-woman-art-7375827/] 
    on 2021-05-13
    author: Niko Twisty*/
    background-image: url("../images/group-4_calisthenics_pexels-niko-twisty-7375827.jpg");
}

#group-5 {
    /* Image copiet from [https://www.pexels.com/photo/man-holding-barbell-1431282/] 
    on 2021-05-13
    author: Anush Gorak*/
    background-image: url("../images/group-5_fittnes_pexels-anush-gorak-1431282.jpg");
}

#group-6 {
    /* Image copiet from [https://www.pexels.com/photo/man-working-out-2294361/] 
    on 2021-05-13
    author: Li Sun*/
    background-image: url("../images/group-6_impact_pexels-li-sun-2294361.jpg");
}

#group-7 {
    /* Image copiet from [https://www.pexels.com/photo/fashion-man-love-people-6296015/] 
    on 2021-05-13
    author: Pavel Danilyuk*/
    background-image: url("../images/group-7_kick-boxing_pexels-pavel-danilyuk-6296015.jpg");
}

#group-8 {
    /* Image copiet from [https://www.pexels.com/photo/woman-doing-aerobics-374909/] 
    on 2021-05-13
    author: Burst*/
    background-image: url("../images/group-8_yoga_pexels-burst-374909.jpg");
}

#group-9 {
    /* Image copiet from [https://www.pexels.com/photo/side-view-photo-of-woman-doing-lunges-against-black-background-2417512/] 
    on 2021-05-13
    author: Oleg Magni*/
    background-image: url("../images/group-9_zumba_pexels-oleg-magni-2417512.jpg");
}

#group-10 {
    /* Image copiet from [https://www.pexels.com/photo/woman-lifting-two-dumbells-on-both-hands-in-front-of-mirror-1886487/] 
    on 2021-05-13
    author: Eduardo Romero*/
    background-image: url("../images/group-10_muscle_up_pexels-eduardo-romero-1886487.jpg");
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Prinign| Trainers                                                       */
/*-------------------------------------------------------------------------------------------------------------------------*/

#trainer-section .card p {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

#trainer-section .card {
    border: 3px solid #000;
    border-top: none;
}

#trainer-section .nav {
    border: 3px solid #000;
    border-bottom: none;

    background-color: #000;
}

.trainer-profile-picture {
    height: 100%;
    margin: 10px 5px 10px;

    border: 1px solid #000;
    border-radius: 5px;
}

.trainer-profile-picture img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.trainer-info-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
}

@media (max-width: 899.98px) {
    #trainer-section .card p {
        font-size: 18px;
    }

    #trainer-section h5 {
        font-weight: 26px;
    }
}

@media (min-width: 576px) and (max-width: 769.89px) {
    .triner-info {
        height: 200px;
    }
 
    .trainer-profile-picture {
        height: 400px;
        border: none;
    }

    .trainer-profile-picture img {
        margin: auto;

        border: 1px solid #000;
        border-radius: 5px;
    }
}

@media (max-width: 576px) {
    .triner-info {
        height: 300px;
    }
 
    .trainer-profile-picture {
        height: 300px;
        border: none;
    }

    .trainer-profile-picture img {
        margin: auto;

        border: 1px solid #000;
        border-radius: 5px;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Communaty| Gallery                                                      */
/*-------------------------------------------------------------------------------------------------------------------------*/

#communaty-section {
    margin: 25px 0 25px;
}

#news-container {
    height: 600px;
    overflow: visible;

    background-color: transparent;
    padding: 10px;

    border: 3px solid #fff;
    border-radius: 5px;

    overflow: scroll;
}

.news-segment {
    margin: 15px 5px 15px;

    border: 3px solid #fff;
    border-radius: 5px;

    padding: 1px;
}

.news-image {
    height: 150px;
    background-color: #000;
}

.news-image img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.news-text {
    color: #000;
    font-family: 'Robot', sans-serif;
    font-weight: 500;
    font-size: 16px;

    padding-top: 20px;

    background-color: #d3d3d3;
}

#communaty-section .nav {
    border: none;
}

#gallery {
    background-color: transparent;
    padding: 10px;

    border: 3px solid #fff;
    border-radius: 5px;
}

#gallery-pictures {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#gallery-pictures img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

@media (min-width: 576px) and (max-width: 768.98px) {
    #gallery-pictures {
        column-count: 2;
    }
}

@media (max-width: 575.98px) {
    #gallery-pictures {
        column-count: 1;
    }

    #gallery {
        height: 600px;
        overflow: scroll;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Contacts page                                                           */
/*-------------------------------------------------------------------------------------------------------------------------*/

#adress-section {
    margin: 25px 0 25px;
}

#adress-container {
    width: 95%;
}

#google-map iframe {
    height: 350px;
    width: 100%;
    margin-top: 10px;
}

#contact-info {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#contact-info h4 {
    margin-top: 100px;
    border-bottom: 1px solid #fff;
}

#contact-info h4,
#contact-info p {
    margin-left: 30px;
}

#contact-info p {
    line-height: 25pt;
}

#question {
    margin: 20px 0 25px;
}

#question-container {
    width: 95%;
}

#question-form {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 10px 20px;
}

#question-form textarea {
    width: 600px;
    height: 200px;

    border: 3px solid #fca311;
    background-color: transparent;
}

#question-form textarea:focus {
    border-color: #fff;
    color: #fff;
    background-color: #000;
    outline: none;
}

#question-email {
    width: 400px;

    border: 3px solid #fca311;
    border-radius: 5px;

    background-color: transparent;
}

#question-email:focus {
    border: 3px solid #fff;
    background-color: #000;
    outline: none;
    color: #fff;
}

#question-submit {
    width: 100px;
    border: 3px solid #fca311;
    border-radius: 5px;

    background-color: transparent;

    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#question-submit:hover {
    border-color: #fff;
    color: #fff;
}

@media (max-width: 769.98px) {
    #question-form textarea {
        width: 100%;
    }

    #question-email {
        width: 100%;
    }

    #question-submit {
        margin-top: 10px;
    }
}